[user]
	name = Curtis Hatter
	email = mitchell.hatter@gmail.com
	signingkey = FC02A8365EAC827D
[commit]
	gpgsign = true
[tag]
	gpgSign = true
[init]
  defaultBranch = main
[core]
  editor = nvim
	trustctime = false # https://www.git-tower.com/blog/make-git-rebase-safe-on-osx/
